@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

.spinner-border {
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
}
